@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-slate-900 font-sans antialiased;
  }
}

.audio-wave {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  height: 60px;
}

.audio-bar {
  width: 6px;
  background-color: #6366f1;
  border-radius: 9999px;
  animation: wave 1s ease-in-out infinite;
}

@keyframes wave {

  0%,
  100% {
    height: 20%;
  }

  50% {
    height: 100%;
  }
}